*, html {
	margin: 0;
	padding: 0;
	font-family: 'Hind Siliguri', 'Arial';
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

.body {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Open Sans Condensed';
	font-size: 45px;
	margin: 0px;
}

.row {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
	color: #343837;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	#border: 1px black solid;
}

.col-2 {
	width: 20%;
}

.col-4 {
	width: 40%;
}

.col-6 {
	width: 60%;
}

.col-8 {
	width: 80%;
}

.col-9 {
	width: 90%;
}	

.col-2, .col-4, .col-6, .col-8, .col-9 {
	padding: 10px 20px;
	min-width: 225px;
	margin: 0px;
}

ul {
	text-decoration: none;
	list-style: none;
	padding: 0px;
}

li {
	margin: 20px 0px;
}

.main {
	font-family: 'Hind Siliguri', 'Trebuchet';
	font-size: 30px;
	color: #4d6d63;
}

.spacer {
	text-align: center;
	#font-weight: bold;
	font-size: 40px;
	margin: 10px;
}

.footer {
	margin-top: 50px;
	font-size: 10px;
}

a, a:active, a:visited {
	text-decoration: none;
	color: #343837;
}

a:hover {
	font-weight: bold;
}